<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'assets/images/favicon_1.ico' %}">

    <title>CityLeap</title>
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">

    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>


</head>


<body class="fixed-left">
<!-- Begin page -->
<div id="wrapper">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->


            <!-- Page-Title -->
            <div class="row">
                <div id="gmaps-basic" class="gmaps"></div>
            </div>

            <div class="row p-20">

                <div class="col-lg-3 col-sm-6">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-account-child text-custom"></i>
                        <h2 class="m-0 text-dark counter font-600">8564</h2>
                        <div class="text-muted m-t-5">Citizens</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-attach-money text-primary"></i>
                        <h2 class="m-0 text-dark counter font-600">50568</h2>
                        <div class="text-muted m-t-5">Total Revenue</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-add-shopping-cart text-pink"></i>
                        <h2 class="m-0 text-dark counter font-600">1256</h2>
                        <div class="text-muted m-t-5">Sales</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-store-mall-directory text-info"></i>
                        <h2 class="m-0 text-dark counter font-600">18</h2>
                        <div class="text-muted m-t-5">Stores</div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0 m-b-30">Air Pollution</h4>

                        <div class="widget-chart text-center">
                            <input class="knob" data-width="150" data-height="150" data-linecap=round
                                   data-fgColor="#fb6d9d" value="80" data-skin="tron" data-angleOffset="180"
                                   data-readOnly=true data-thickness=".15"/>
                            <h5 class="text-muted m-t-20">Total sales made today</h5>
                            <h2 class="font-600">$75</h2>
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted m-t-20">Target</h5>
                                    <h4 class="m-b-0">$1000</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last week</h5>
                                    <h4 class="m-b-0">$523</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last Month</h5>
                                    <h4 class="m-b-0">$965</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0 m-b-30">Monthly Sales</h4>

                        <div class="widget-chart text-center">
                            <div id="sparkline1">
                                <canvas width="300" height="235" style=""></canvas>
                            </div>
                            <ul class="list-inline m-t-15">
                                <li>
                                    <h5 class="text-muted m-t-20">Target</h5>
                                    <h4 class="m-b-0">$1000</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last week</h5>
                                    <h4 class="m-b-0">$523</h4>
                                </li>
                                <li>
                                    <h5 class="text-muted m-t-20">Last Month</h5>
                                    <h4 class="m-b-0">$965</h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0 m-b-30">Air Pollution</h4>
                        <p class="font-600">iMacs <span class="text-primary pull-right">80%</span></p>
                        <div class="progress m-b-30">
                            <div class="progress-bar progress-bar-primary progress-animated wow animated animated"
                                 role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 80%; visibility: visible; animation-name: animationProgress;">
                            </div><!-- /.progress-bar .progress-bar-danger -->
                        </div><!-- /.progress .no-rounded -->

                        <p class="font-600">iBooks <span class="text-pink pull-right">50%</span></p>
                        <div class="progress m-b-30">
                            <div class="progress-bar progress-bar-pink progress-animated wow animated animated"
                                 role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%; visibility: visible; animation-name: animationProgress;">
                            </div><!-- /.progress-bar .progress-bar-pink -->
                        </div><!-- /.progress .no-rounded -->

                        <p class="font-600">iPhone 5s <span class="text-info pull-right">70%</span></p>
                        <div class="progress m-b-30">
                            <div class="progress-bar progress-bar-info progress-animated wow animated animated"
                                 role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 70%; visibility: visible; animation-name: animationProgress;">
                            </div><!-- /.progress-bar .progress-bar-info -->
                        </div><!-- /.progress .no-rounded -->

                        <p class="font-600">iPhone 6 <span class="text-warning pull-right">65%</span></p>
                        <div class="progress m-b-30">
                            <div class="progress-bar progress-bar-warning progress-animated wow animated animated"
                                 role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 65%; visibility: visible; animation-name: animationProgress;">
                            </div><!-- /.progress-bar .progress-bar-warning -->
                        </div><!-- /.progress .no-rounded -->

                        <p class="font-600">iPhone 6s <span class="text-success pull-right">40%</span></p>
                        <div class="progress m-b-30">
                            <div class="progress-bar progress-bar-success progress-animated wow animated animated"
                                 role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 40%; visibility: visible; animation-name: animationProgress;">
                            </div><!-- /.progress-bar .progress-bar-success -->
                        </div><!-- /.progress .no-rounded -->
                    </div>
                </div>


            </div>
            <!-- end row -->

            <div class="row">

                <div class="col-lg-12">

                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark text-uppercase">
                                Projects
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet2" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Project Name</th>
                                            <th>Start Date</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Assign</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Ubold Admin v1</td>
                                            <td>01/01/2015</td>
                                            <td>26/04/2015</td>
                                            <td><span class="label label-info">Released</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Ubold Frontend v1</td>
                                            <td>01/01/2015</td>
                                            <td>26/04/2015</td>
                                            <td><span class="label label-success">Released</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Ubold Admin v1.1</td>
                                            <td>01/05/2015</td>
                                            <td>10/05/2015</td>
                                            <td><span class="label label-pink">Pending</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Ubold Frontend v1.1</td>
                                            <td>01/01/2015</td>
                                            <td>31/05/2015</td>
                                            <td><span class="label label-purple">Work in Progress</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Ubold Admin v1.3</td>
                                            <td>01/01/2015</td>
                                            <td>31/05/2015</td>
                                            <td><span class="label label-warning">Coming soon</span></td>
                                            <td>Coderthemes</td>
                                        </tr>

                                        <tr>
                                            <td>6</td>
                                            <td>Ubold Admin v1.3</td>
                                            <td>01/01/2015</td>
                                            <td>31/05/2015</td>
                                            <td><span class="label label-primary">Coming soon</span></td>
                                            <td>Coderthemes</td>
                                        </tr>

                                        <tr>
                                            <td>7</td>
                                            <td>Ubold Admin v1.3</td>
                                            <td>01/01/2015</td>
                                            <td>31/05/2015</td>
                                            <td><span class="label label-info">Cool</span></td>
                                            <td>Coderthemes</td>
                                        </tr>

                                        <tr>
                                            <td>8</td>
                                            <td>Ubold Admin v1.3</td>
                                            <td>01/01/2015</td>
                                            <td>31/05/2015</td>
                                            <td><span class="label label-warning">Coming soon</span></td>
                                            <td>Coderthemes</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->


            </div>


        </div> <!-- container -->

    </div> <!-- content -->

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div class="side-bar right-bar nicescroll">
        <h4 class="text-center">Chat</h4>
        <div class="contact-list nicescroll">
            <ul class="list-group contacts-list">
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-1.jpg' %}" alt="">
                        </div>
                        <span class="name">Chadengle</span>
                        <i class="fa fa-circle online"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-2.jpg' %}" alt="">
                        </div>
                        <span class="name">Tomaslau</span>
                        <i class="fa fa-circle online"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-3.jpg' %}" alt="">
                        </div>
                        <span class="name">Stillnotdavid</span>
                        <i class="fa fa-circle online"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-4.jpg' %}" alt="">
                        </div>
                        <span class="name">Kurafire</span>
                        <i class="fa fa-circle online"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-5.jpg' %}" alt="">
                        </div>
                        <span class="name">Shahedk</span>
                        <i class="fa fa-circle away"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-6.jpg' %}" alt="">
                        </div>
                        <span class="name">Adhamdannaway</span>
                        <i class="fa fa-circle away"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-7.jpg' %}" alt="">
                        </div>
                        <span class="name">Ok</span>
                        <i class="fa fa-circle away"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-8.jpg' %}" alt="">
                        </div>
                        <span class="name">Arashasghari</span>
                        <i class="fa fa-circle offline"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-9.jpg' %}" alt="">
                        </div>
                        <span class="name">Joshaustin</span>
                        <i class="fa fa-circle offline"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'assets/images/users/avatar-10.jpg' %}" alt="">
                        </div>
                        <span class="name">Sortino</span>
                        <i class="fa fa-circle offline"></i>
                    </a>
                    <span class="clearfix"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/waves.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>

<script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>

<!-- jQuery  -->
<script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>


<script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>

<script src="{% static 'assets/plugins/jquery-knob/jquery.knob.js' %}"></script>

<script src="{% static 'assets/pages/jquery.dashboard.js' %}"></script>

<script src="{% static 'assets/js/jquery.core.js' %}"></script>
<script src="{% static 'assets/js/jquery.app.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });

        $(".knob").knob();

    });
</script>

<!-- google maps api -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnDWqirOYsDOmAGdrnQQtE-MMLM2DAPJk&callback=initMap"
  type="text/javascript"></script>
<!-- main file -->
<script src="{% static 'assets/plugins/gmaps/gmaps.min.js' %}"></script>
<!-- demo codes -->
<script src="{% static 'assets/pages/jquery.gmaps.js' %}"></script>

<script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/pages/jquery.dashboard_3.js' %}"></script>


</body>
</html>